/* Global Definitions */
:root {
    --accent: #F7C8AC;
    --dark: #29313d;
    --dark2: #2d4153;
    --transition-speed: 200ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--dark2);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
}

::selection {
    color: var(--dark2);
    background: var(--accent);
}


body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.margin-top {
    margin-top: 1rem;
}

.text-center {
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

/* Main Page Header */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/ufo.jpg");
    background-position: 50% 80%;
    background-repeat: no-repeat;
    height: 92vh;
    width: 100%;
    object-position: 0 80%;
    color: white;
    text-align: center;
    font-size: 2rem;
}

.main-home {
    padding: 3rem;
}

/* Main Page About */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 1rem;
}

.about-text {
    flex: 1 1 50ch;
    margin: 2rem 0;
    font-size: 1.25rem;
}

.about-text p {
    margin: 2rem 0;
    text-align: center;
}

.about-text a {
    color: var(--accent);
    transition: var(--transition-speed);
}

.about-text a:hover {
    color: var(--dark2);
    text-decoration: none;
}

.about-image {
    max-height: 50vh;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Navbar */
.navbar {
    background-color: var(--dark);
    font-size: 1.2rem;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px dotted var(--dark2);
}

.navbar-nav {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav-item {
    width: 10rem;
}

.nav-item:first-child {
    margin-right: auto;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 5rem;
    transition: var(--transition-speed);
}

.nav-link:hover,
.selected .nav-link {
    background: var(--dark2);
    color: var(--accent);
}

.logo {
    display: flex;
    flex-direction: row;
    padding: 1rem;

}

.logo img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    margin-right: 1rem;
}

/* Main Page Cards */
.cards-general {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 1rem;
}

.card-general {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 400px;
    padding: 2rem;
    margin: 1rem;
    border: 2px solid var(--accent);
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.card-general i {
    color: var(--dark);
}

.card-general i:hover {
    color: var(--accent);
    transition: var(--transition-speed);
}

.card-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.member-photo {
    height: 200px;
    width: 200px;
    padding: 0.8rem;
    border-radius: 50%;
}

/* Other Pages Cards */
.cards-plots {
    display: grid;
    grid-template-rows: repeat(5, minmax(200px, 40vh));
    grid-template-columns: 1fr;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e";
    place-content: stretch;
    padding: 1rem;
}


@media only screen and (min-width: 1300px) {
    .cards-plots {
        grid-template-rows: repeat(3, minmax(400px, 40vh));
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "a a a a b b"
            "c c c d d d"
            "e e e e e e";
    }

}

@media only screen and (min-width: 1280px) {
    .about-text p {
        margin: 2rem 2rem 2rem 0;
        text-align: justify;
    }
}

.plot-encounter-duration {
    grid-area: a;
}

.plot-shapes {
    grid-area: b;
}

.plot-common-words {
    grid-area: c;
}

.plot-sight-year {
    grid-area: d;
}

.plot-sight-hour {
    grid-area: e;
}

.card-plot {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid var(--accent);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.card-plot-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-stats {
    display: flex;
}

/* Sidebar Menu */
.sidenav {
    flex: 1 1 15%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 2rem;
    height: 100%;
}

.sidenav>* {
    margin-top: 1rem;
}

/* Filters */
select {
    border: 2px solid var(--dark);
    border-radius: 5px;
    padding: 0.5rem;
    width: 200px;
}

select:focus {
    border: 2px solid var(--accent);
}

.input-slider {
    border: 0;
    color: #000000;
    font-weight: bold;
    background-color: lightgray;
}

button {
    cursor: pointer;
    background-color: var(--dark2);
    /* Green */
    border: none;
    color: white;
    padding: 5px 5px 5px;
    width: 55%;
    left: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

button:active {
    background-color: var(--dark);
    transform: translateY(4px);
}


/* Content */
.content {
    flex: 1 1 80%;
}

#mapid {
    height: 75vh;
    margin: 1rem;
}

/* Footer */
.footer {
    background-color: var(--dark);
    width: 100%;
    padding: 1rem;
    color: white;
    margin-top: auto;
    display: flex;
    z-index: 1;
}

#context {
    flex: 50%;
}

#copyright {
    flex: 50%;
    text-align: right;
}


.svg-tooltip {
    position: absolute;
    background: rgba(69, 77, 93, .9);
    border-radius: .1rem;
    color: #fff;
    padding: 0.5rem;
    white-space: pre;
    z-index: 300;
    visibility: hidden;
}

/*Tool tip*/

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 15px;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem;
    

    /* Position the tooltip text */
    position: absolute;
    z-index: 2;
    top: -55px;
    right: 120%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 70%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.legend {
    line-height: 18px;
    color: #555;
    display: flex;
    flex-direction: column;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.info {
    padding: 6px 8px;
    font: 14px/17px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}