/* Global Definitions */
:root {
    --primary: #17e1f0;
    /* --green: #0ad488; */
    --darkgrey: #455164;
    --darkgrey2: #29313d;
    --transition-speed: 200ms;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--darkgrey2);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

::selection {
    color: var(--darkgrey2);
    background: var(--primary);
}


body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.margin-top {
    margin-top: 1rem;
}

.text-center {
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

/* Main Page Header */
.ufo-header {
    max-height: 800px;
    width: 100%;

    opacity: 0.85;
}

/* Navbar */
.navbar {
    background-color: var(--darkgrey);
    font-size: 20px;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-nav {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav-item {
    width: 10rem;
}

.nav-item:first-child {
    margin-right: auto;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 5rem;
    transition: var(--transition-speed);
}

.nav-link:hover,
.selected .nav-link {
    background: var(--darkgrey2);
    color: var(--primary);
}

/* Main Page Cards */
.cards-general {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 1rem;
}

.card-general {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 400px;
    padding: 2rem;
    margin: 1rem;
    border: 2px solid var(--primary);
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.card-general i {
    color: var(--darkgrey);
}

.card-general i:hover {
    color: var(--primary);
    transition: var(--transition-speed);
}

.card-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 10px;
}

.member-photo {
    height: 200px;
    width: 200px;
    padding: 1rem;
    border-radius: 50%;
}

/* Other Pages Cards */
.cards-plots {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e";
    place-content: stretch;
    padding: 1rem;
}


@media only screen and (min-width: 1440px) {
    .cards-plots {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "a a a b"
            "c c d d"
            "e e e e";
    }
}

.plot-encounter-duration {
    grid-area: a;
}

.plot-shapes {
    grid-area: b;
}

.plot-common-words {
    grid-area: c;
}

.plot-sight-year {
    grid-area: d;
}

.plot-sight-hour {
    grid-area: e;
}

.card-plot {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid var(--primary);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.card-plot-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main {
    display: flex;
}

/* Sidebar Menu */
.sidenav {
    flex: 1 1 15%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 2rem;
    height: 100%;
}

.sidenav>* {
    margin-top: 1rem;
}

/* Filters */
select {
    border: 2px solid var(--darkgrey);
    border-radius: 5px;
    padding: 0.5rem;
}

select:focus {
    border: 2px solid var(--primary);
}

/* Content */
.content {
    flex: 1 1 85%;
}


/* Footer */
.footer {
    background-color: var(--darkgrey);
    width: 100%;
    padding: 1rem;
    color: white;
    margin-top: auto;
    display: flex;
    z-index: 1;
}

#context {
    flex: 50%;
}

#copyright {
    flex: 50%;
    text-align: right;
}